.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../images/icons/logo_white_icon.svg);
  background-size: cover;
}

@media screen and (max-width: 896px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 520px) {
  .header__logo {
    width: 103.74px;
    height: 22.4px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
