.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/icons/close_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0;
  background-size: 32px;
}

@media screen and (max-width: 540px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}
