.header__link {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  transition: opacity .3s linear;
  cursor: pointer;
  align-self: center;
}

.header__link:hover{
  opacity: 0.6;
}
