.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url(../../../images/icons/add_button_icon.svg);
  background-size: 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  border-radius: 2%;
  justify-self: end;
}

@media screen and (max-width: 716px) {
  .profile__add-button {
    width: 282px;
    background-size: 16px;
    grid-column: 1 / -1;
    justify-self: center;
  }
}
